//Devices
$phablet: 768px;
$tablet: 1024px;
$laptop: 1280px;

//Colors
$light-blue: #55597c;
$blue: #3f4360;
$dark-blue: #313248;
$light-brown: #dccbc0;
$brown: #87786f;
$grey: #5b5b5b;
$black: #090909;
$white: #fff;

//Fonts
$font-head: "AlegreyaSC";
$font-body: "Euphemia";
