@import '../helpers/variables.scss';

/* books grid */

.book {
  width: 140px;

  .top {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;

    .cover {
      box-shadow: 4px 10px 10px rgba(0,0,0,0.2), 0 0 6px rgba(0,0,0,0.23);
      background: #eee;
    }

    .book-shelf-changer {
      position: absolute;
      right: 0;
      bottom: -10px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $light-blue;
      background-image: url('../assets/arrow-drop-down.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
      box-shadow: 4px 10px 10px rgba(0,0,0,0.2), 0 0 6px rgba(0,0,0,0.23);

      select {
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }
  }

  .title , .authors {
    font-size: 0.85em;
    font-family: $font-body;
    line-height: 1.15;
  }
  .title {
    color: $white;
    margin-top: 15px;
  }
  .authors {
    margin-top: 5px;
    color: #d1d1d1;
  }
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}