@import '../helpers/variables.scss';

/* main page */

.list-books {

  .content {
    padding: 0;
    flex: 1;

    .bookshelf {
      padding: 0 10px 20px;

      .self {
        font-family: $font-body;
        font-weight: 100;
        font-size: 1.25em;
        color: $white;

        .border1{
          margin-top: 8px;
          min-height: 2px;
          min-width: 100%;
          background: $grey;
          opacity: 0.9;
          .border2{
            min-height: 2px;
            width: 110px;
            background: $white;
          }
        }
      }

      .books {
        text-align: center;

        .grid {
          list-style-type: none;
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          li {
            padding: 10px 15px;
            text-align: left;
          }
        }
      }

      @media (min-width: 600px) {
        padding: 0 30px 40px;
      }
    }
  }

  .open-search {
    position: fixed;
    right: 25px;
    bottom: 25px;

    a {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $blue;
      background-image: url('../assets/add.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 28px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      font-size: 0;
    }
  }
}